body {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-size: 60px;
  margin: 60px;
  max-width: 60%;
}

.room {
  width: 100%;
  height: 100%;
  background-image: url("/game/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}

.banner {
  width: 400px;
  max-width: 25%;
  position: absolute;
  top: 0;
  right: 100px;
}

.cat {
  position: fixed;
  inset: calc(61% - 50px) calc(22% - 40px) calc(39% - 50px) calc(78% - 40px);
  height: 100px;
}

.orb {
  position: fixed;
  inset: calc(45% - 25px) calc(81% - 25px) calc(55% - 75px) calc(19% - 25px);
  height: 100px;
  width: 50px;
}

.orbHint {
  position: fixed;
  inset: calc(47% - 50px) calc(81% - 50px) calc(53% - 50px) calc(19% - 50px);
  height: 100px;
}

.orbWisdom {
  position: fixed;
  inset: calc(45% - 25px) calc(81% - 25px) calc(55% - 25px) calc(19% - 25px);
  height: 50px;
}

.photoHint {
  position: fixed;
  inset: calc(37% - 50px) calc(3% - 50px) calc(63% - 50px) calc(97% - 50px);
  height: 100px;
}

.photoFrame {
  position: fixed;
  inset: calc(37% - 25px) calc(3% - 25px) calc(63% - 25px) calc(97% - 25px);
  height: 50px;
}

.tome {
  position: fixed;
  inset: calc(45% - 50px) calc(35% - 50px) calc(55% - 50px) calc(65% - 50px);
  height: 100px;
}

.tomeHint {
  position: fixed;
  inset: calc(45% - 50px) calc(35% - 50px) calc(55% - 50px) calc(65% - 50px);
  height: 100px;
}

.addons {
  position: fixed;
  right: 1%;
  bottom: 1%;
}

.addons > a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 3em;
  margin-bottom: 5px;
}
