.gameScreenContainer {
  position: fixed;
  left: 0;
  bottom: 0px;
  height: 40%;
  width: 20%;
  padding: 1em 1.4em;
  backdrop-filter: blur(10px);
  background-color: rgba(0,0,0,0.5);
  border-radius: 0 2rem 0 0;
  display: flex;
  flex-direction: column;
}

.gameScreenContainer .header {
  color: white;
  padding-bottom: 0.4em;
  font-size: 1.2vw;
}

.timer {
  color: white;
  padding: 0.4em 0 0;
  font-size: 1.2vw;
}

.timer span {
  padding-left: 1.7em;
}

.progress {
  color: white;
  padding: 0.4em 0 0;
  font-size: 1.2vw;
}

.progress span.icons {
  padding-left: 1em;
}

.highscoresTable {
  width: 100%;
  min-height: 0;
  flex: 1;
}
