.highscoreTable {
  width: 25rem;
  margin: 20px 60px;
  font-size: 25px;
  text-align: left;
  border-collapse: collapse;
}

.highscoreTable th {
  color: white;
  border: 1px solid white;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.highscoreTable td {
  padding: 10px;
  color: white;
  border: 1px solid white;
}

.highscoreTable tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
