#root {
  width: 100vw;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.background {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}

body {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  color: white;
  font-size: 60px;
  margin: 60px;
  max-width: 60%;
}

h2 {
  color: white;
  margin: 20px 60px;
  font-size: 30px;
}

.nameInput {
  font-size: larger;
  width: 10rem;
  color: white;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  margin: 20px 0px 20px 60px;
  padding: 20px 20px;
  outline: none;
}

.nameInput::focus {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
}

.nameInput::placeholder {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.intro {
  color: white;
  font-size: 25px;
  margin: 60px;
  max-width: 60%;
  line-height: 1.2;
}

.comment {
  width: auto;
  color: white;
  font-size: 25px;
  margin: 20px 60px;
  padding: 5px;
  border-radius: 20px;
  display: inline-block;
}

.highscoreTable {
  width: 25rem;
  margin: 20px 60px;
  font-size: 25px;
  text-align: left;
  border-collapse: collapse;
}

.highscoreTable th {
  color: white;
  border: 1px solid white;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.highscoreTable td {
  padding: 10px;
  color: white;
  border: 1px solid white;
}

.highscoreTable tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.room {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}

.banner {
  width: 400px;
  max-width: 25%;
  position: absolute;
  top: 0;
  right: 100px;
}

.catContainer {
  position: fixed;
  top: 61%;
  left: 78%;
}

.cat {
  height: 100px;
}

.orb {
  position: fixed;
  inset: calc(45% - 25px) calc(81% - 25px) calc(55% - 75px) calc(19% - 25px);
  height: 100px;
  width: 50px;
}

.orbHint {
  position: fixed;
  inset: calc(47% - 50px) calc(81% - 50px) calc(53% - 50px) calc(19% - 50px);
  height: 100px;
}

.orbWisdom {
  position: fixed;
  inset: calc(45% - 25px) calc(81% - 25px) calc(55% - 25px) calc(19% - 25px);
  height: 50px;
}

.photoHint {
  position: fixed;
  inset: calc(37% - 50px) calc(3% - 50px) calc(63% - 50px) calc(97% - 50px);
  height: 100px;
}

.photoFrame {
  position: fixed;
  inset: calc(37% - 25px) calc(3% - 25px) calc(63% - 25px) calc(97% - 25px);
  height: 50px;
}

.tome {
  position: fixed;
  inset: calc(45% - 50px) calc(35% - 50px) calc(55% - 50px) calc(65% - 50px);
  height: 100px;
}

.tomeHint {
  position: fixed;
  inset: calc(45% - 50px) calc(35% - 50px) calc(55% - 50px) calc(65% - 50px);
  height: 100px;
}