#root {
  width: 100vw;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.background {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}

body {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  color: white;
  font-size: 2.5vw;
  margin: 60px;
  max-width: 60%;
}

h2 {
  color: white;
  margin: 20px 60px;
  font-size: 1.6vw;
}

.screenbutton {
  font-size: 1.2vw;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 1em;
  margin: 20px 60px;
  padding: 1vw 2vw;
}

.screenbutton:hover {
  color: black;
  background-color: white;
  cursor: none;
}

.nameInput {
  font-size: 1.2vw;
  width: 12vw;
  color: white;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  margin: 20px 0px 20px 60px;
  padding: 20px 20px;
  outline: none;
  cursor: none;
}

.nameInput::focus {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
}

.nameInput::placeholder {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.intro {
  color: white;
  font-size: 1.45vw;
  margin: 60px;
  line-height: 1.2;
}

.comment {
  width: auto;
  color: white;
  font-size: 1.45vw;
  margin: 20px 60px;
  padding: 5px;
  border-radius: 20px;
  display: inline-block;
}

.room {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}

.catContainer {
  position: fixed;
  top: 61%;
  left: 78%;
}

.cat {
  height: 100px;
}

.orbContainer {
  position: fixed;
  inset: calc(47% - 50px) calc(81% - 50px) calc(53% - 50px) calc(19% - 50px);
}

.orb {
  position: absolute;
  top: 12px;
  left: 23px;
  height: 100px;
  width: 50px;
}

.orbHint {
  position: absolute;
  top: 0;
  left: 0;
}

.orbHint img {
  height: 100px;
}

.orbWisdom {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}

.photoContainer {
  position: fixed;
  top: 0;
  left: 0;
  inset: calc(37% - 50px) calc(3% - 50px) calc(63% - 50px) calc(97% - 50px);
}

.photoHint {
  height: 100px;
}

.photoFrame {
  position: fixed;
  inset: calc(37% - 25px) calc(3% - 25px) calc(63% - 25px) calc(97% - 25px);
  height: 50px;
}

.tomeContainer {
  position: fixed;
  inset: calc(45% - 50px) calc(35% - 50px) calc(55% - 50px) calc(65% - 50px);
}

.tome {
  height: 100px;
}

.tomeHint {
  position: fixed;
  inset: calc(45% - 50px) calc(35% - 50px) calc(55% - 50px) calc(65% - 50px);
}

.tomeHint img {
  height: 100px;
}
