.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.screen::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/background.jpg");
  transform: scale(1.01);
  filter: blur(10px);
  z-index: -1;
}

.screen#endscreen {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screen#endscreen h1 {
  margin: 0;
  margin-bottom: 1em;
  flex: 1;
}

.screen#endscreen > h2 {
  margin: 0;
  flex: 1;
}

.screen#endscreen > div {
  flex: 1;
}

.screen#endscreen p {
  margin: 0;
  flex: 1;
}

.screen#endscreen .screenbutton {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: none;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.screen#endscreen .highscoresTableContainer {
  max-width: 60vw;
  margin: 0;
  margin-bottom: 2vh;
}

.screen#endscreen #resetInstruction {
  margin-bottom: 1vh;
}
